body {

    font-family: 'Poppins', sans-serif;

}

.body {
    border: 1px solid black;
    margin-left: 50px;



}

.heading {

    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.help {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

.first-button {
    background-color: tomato;
    border-color: tomato;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.donation-ammount {
    padding-top: 15px;
    text-align: center;
}


.amount {
    display: flex;
    padding-top: 30px;
    padding-left: 37%;

}







#o-hun {
    border: 4px;
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

#tw-hun {
    color: red;
    border: 4px solid red;
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

#th-hun {

    border: 4px;
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

#o-tho {
    border: 4px;
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;


}

#fi-hun {
    border: 4px;
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

}

.other-ammount {
    text-align: center;
}

hr {
    margin-left: 150px;
    margin-right: 150px;
}


.second-button {
    background-color: tomato;
    border-color: tomato;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 680px;
    margin-top: 30px;
}

.plan {
    text-align: center;
    padding-top: 50px;
}

.basic-need {
    display: flex;
    padding-left: 10px;
}

#life-need-1 {
    border: 2px solid lightblue;
    background-color: lightblue;
    padding-left: 10px;
    margin-right: 10px;
}

#life-need-2 {
    border: 2px solid lavender;
    background-color: lavender;
    padding-left: 10px;
    padding-right: 10px;
}

#life-need-3 {
    border: 2px solid wheat;
    background-color: wheat;
    padding-left: 10px;
    margin-left: 10px;
}

.third-button {
    background-color: tomato;
    border-color: tomato;
    padding: 10px 10px;
    border-radius: 5px;
}

.article-one {
    display: flex;
    padding-top: 25px;
}

.article-two {
    display: flex;
}

.explan {
    padding-left: 30px;
}

.forth-button {
    background-color: tomato;
    border-color: tomato;
    padding: 10px 10px;
    border-radius: 5px;

}

.last-part {
    text-align: center;
}

#footer-one {
    border: 2px solid gray;
    background-color: gray;

    margin: auto;
    padding-right: 8px;
    margin-top: 5px;
    padding-right: 80px;
}



.e-mail {
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer-two {
    color: white;
    border: 2px solid tomato;
    background-color: tomato;
    margin: auto;
    padding-right: 8px;
    margin-top: 5px;
}

.subs {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
}




#footer {
    display: flex;
    margin-left: 300px;

}

.box {
    background-color: wheat;
    border: 7px solid wheat;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 50px;

    margin-left: 180px;
    margin-right: 250px;
}

.advice {
    background-color: black;
    font-family: 'Parisienne', cursive;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-color: black;
    margin-left: 50px;
    margin-right: 0px;
}

.adv-1 {
    color: red;
}

.adv-2 {
    color: white;
}